<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="http://fonts.cdnfonts.com/css/versa" rel="stylesheet" />
  <title>X-SUPPLY</title>
</head>

<body>
  <header class="sticky-top">
    <div class="head">
      <nav class="navbar navbar-expand-lg navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img class="logo" src="/images/logo.png" width="180" alt="LOGO" />
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!------------navbar-toggler------------>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index.html">INICIO</a>
              <a class="nav-link" href="Productos.html">PRODUCTOS</a>
              <a class="nav-link" href="Recetas.html">RECETAS</a>
              <a class="nav-link" href="Nosotros.html">NOSOTROS</a>

              <!------------Menu usuario------------>
            </div>
            <div class="dropdown">
              <button class="btn dropdown-toggle dropleft" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="login.html">Iniciar Sesion</a>
                <a class="dropdown-item" href="register.html">Crear cuenta</a>
              </div>
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!------------Carousel------------>
  <div class="carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>
      <!-- Carousel - Slide 1 -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/foto3.jpg" class="d-block" alt="foto1 carousel" />
          <div class="carousel-caption">
            <p class="carousel-text">SUPLEMENTOS DEPORTIVOS</p>
            <button type="button" class="btn btn-light">COMPRAR</button>
          </div>
        </div>
        <!-- Carousel - Slide 2 -->
        <div class="carousel-item">
          <img src="images/foto2.jpg" class="d-block" alt="foto2 carousel" />
          <div class="carousel-caption">
            <p class="carousel-text">NUESTRAS RECETAS</p>
            <button type="button" class="btn btn-light">VER MÁS</button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" class="button" type="button" data-bs-target="#carouselExampleFade"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  


  <section class="row container no-gutters text-center col-15 mt-4 mb-4 mx-auto info-container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck"
        viewBox="0 0 16 16">
        <path
          d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
      </svg>
      <div class="mt-4 mb-4">
        <h6><strong>ENVIAMOS TU COMPRA</strong></h6>
        <p class="info-text">Entregas a todo el país</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-lock"
        viewBox="0 0 16 16">
        <path
          d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
      </svg>
      <div class="mt-4 mb-4">
        <h6><strong >COMPRA CON SEGURIDAD</strong></h6>
        <p class="info-text">Tus datos siempre protegidos</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-credit-card"
        viewBox="0 0 16 16">
        <path
          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
      </svg>
      <div class="mt-4 mb-4">
        <h6><strong>PAGÁ COMO QUIERAS</strong></h6>
        <p class="info-text">Tarjetas de crédito o efectivo</p>
      </div>
    </div>
  </section>

  <footer>
    <!------------Redes sociales y logo------------>
    <div class="redes">
      <img src="/img/logo-X-Supply.jpg" alt="logo" />
      <h2>Seguinos en nuestras redes></h2>
      <div class="iconos-redes">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
    </div>
    <!------------Navegador del footer------------>
    <div class="footer-nav">
      <ul>
        <a href="">
          <li>Medios de pago</li>
        </a>
        <a href="">
          <li>Contacto</li>
        </a>
        <a href="">
          <li>Términos y condicones</li>
        </a>
        <a href="">
          <li>Políticas de privacidad</li>
        </a>
        <a href="">
          <li>Botón de arrepentimiento</li>
        </a>
      </ul>
    </div>
    <!------------Suscripción al newsletter------------>
    <div class="suscripcion">
      <label for="email">Recibí nuestras ofertas</label>
      <input type="email" id="email" required />
      <input type="button" value="Quiero suscribirme" />
    </div>
    <!------------Data fiscal AFIP------------>
    <div class="data-fiscal">
      <i class="fa-solid fa-qrcode"></i>
    </div>
    <!------------Autor------------>
    <div class="autor">
      <h5>Desarrollado por Next Gen Web Developers</h5>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>