<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="http://fonts.cdnfonts.com/css/versa" rel="stylesheet" />

  <title>X-SUPPLY</title>
</head>

<body>
  <header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="index">
      <img class="logo" src="/images/logo1.png" width="150rem" alt="LOGO" />
    </a>




    <nav class="navbar">
      <a class="nav-link" href="">INICIO</a>
      <a class="nav-link" href="">PRODUCTOS</a>
      <a class="nav-link" href="">RECETAS</a>
      <a class="nav-link" href="">NOSOTROS</a>

    </nav>

    <div class="icons">
       <a href="productCart">
      <i class="fas fa-shopping-cart"></i></a>
      <a href="login">Login</a>
      <a class="register-link" href="register">Register</a>

    </div>

  </header>

  <!------------Carousel------------>
  <section class="home">

    <div class="home-text">
      <h3>TODOS LOS SUPLEMENTOS</h3>
      <span> Conocé nuestros productos! </span>
      <br>
      <a href="#" class="btn">COMPRAR <i class="fas fa-arrow-right"></i></a>
    </div>

  </section>

  <section class="about" id="about">


    <div class="row">

      <div class="img-container">
        <img src="/images/foto10.png" width="100%"></img>

      </div>

      <div class="content">
        <h3>RECETAS</h3>
        <p>
          Gran variedad de recetas que te enseñan cómo cocinar alimentos saludables para tus objetivos fitness.</p>

        <a href="#" class="btn">CONOCELAS!</a>
      </div>

    </div>

  </section>

  <h3 class="offers">ULTIMAS OFERTAS</h3>
  <div class="section-cards">

    
    <div class="card">

      <div class="imgBox">
        <img src="images/prote.png" alt="" class="product-img">
      </div>

      <div class="contentBox">
        <h3>Proteina WHEY</h3>
        <h2 class="price">$2000</h2>
        <a href="#" class="buy">COMPRAR</a>
      </div>


    </div>

    <div class="card">

      <div class="imgBox">
        <img src="images/prote.png" alt="" class="product-img">
      </div>

      <div class="contentBox">
        <h3>Proteina WHEY</h3>
        <h2 class="price">$2000</h2>
        <a href="#" class="buy">COMPRAR</a>
      </div>


    </div>

    <div class="card">

      <div class="imgBox">
        <img src="images/prote.png" alt="" class="product-img">
      </div>

      <div class="contentBox">
        <h3>Proteina WHEY</h3>
        <h2 class="price">$2000</h2>
        <a href="#" class="buy">COMPRAR</a>
      </div>


    </div>
    <div class="card">

      <div class="imgBox">
        <img src="images/prote.png" alt="" class="product-img">
      </div>

      <div class="contentBox">
        <h3>Proteina WHEY</h3>
        <h2 class="price">$2000</h2>
        <a href="#" class="buy">COMPRAR</a>
      </div>


    </div>
  </div>





  <footer>
    <!------------Redes sociales y logo------------>
    <div class="redes">
      <img src="/img/logo-X-Supply.jpg" alt="logo" />
      <h2>Seguinos en nuestras redes></h2>
      <div class="iconos-redes">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
    </div>
    <!------------Navegador del footer------------>
    <div class="footer-nav">
      <ul>
        <a href="">
          <li>Medios de pago</li>
        </a>
        <a href="">
          <li>Contacto</li>
        </a>
        <a href="">
          <li>Términos y condicones</li>
        </a>
        <a href="">
          <li>Políticas de privacidad</li>
        </a>
        <a href="">
          <li>Botón de arrepentimiento</li>
        </a>
      </ul>
    </div>
    <!------------Suscripción al newsletter------------>
    <div class="suscripcion">
      <label for="email">Recibí nuestras ofertas</label>
      <input type="email" id="email" required />
      <input type="button" value="Quiero suscribirme" />
    </div>
    <!------------Data fiscal AFIP------------>
    <div class="data-fiscal">
      <i class="fa-solid fa-qrcode"></i>
    </div>
    <!------------Autor------------>

  </footer>

</body>

</html>