<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="http://fonts.cdnfonts.com/css/versa" rel="stylesheet" />
  <link rel="stylesheet" href="bootstrap.min.css">
  <title>LOGIN</title>
 <style> 
 .bg {
    background-image: url(images/foto1.jpg);
    background-position: center center;
    background-size: cover;
  } 
  </style>
</head>

<body> 
 
  <header class="sticky-top">
    <div class="head">
      <nav class="navbar navbar-expand-lg navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">
            <img class="logo" src="/images/logo.png" width="180" alt="LOGO" />
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!------------navbar-toggler------------>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index">INICIO</a>
              <a class="nav-link" href="Productos">PRODUCTOS</a>
              <a class="nav-link" href="Recetas">RECETAS</a>
              <a class="nav-link" href="Nosotros">NOSOTROS</a>

              <!------------Menu usuario------------>
            </div>
            <div class="dropdown">
              <button class="btn dropdown-toggle dropleft" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="login">Iniciar Sesion</a>
                <a class="dropdown-item" href="register">Crear cuenta</a>
              </div>
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!------------LOGIN------------> 

    <div class="container rounded-3 shadow container-login">
      <div class="row">
        <div class="col bg"> 

        </div>
        <div class="col"> 
          <div class= "text-end">
           
          </div> 

          <!---Saludo Inicial-->
          
          <h2 class="fw-bold text-center pt-5 mb-5"> Bienvenidos</h2>

          <!---Datos para el inicio de sesión-->
          
          <form action="">
            <div class="mb4">
            <label for="email" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" name="email">
            </div>
            <div class="mb4 my-3">
              <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password">
            </div>
            <!---Boton Check para dejar iniciada la sesión-->
            
            <div class="mb4 form-check" >
              <input type="checkbox" name="connected" class="form-check-input" id=" ">
              <label for="connected" class="form-check-label">Mantenerme Conectado</label>
            </div>

            <!---Boton de INICIAR SESION-->
            
            <div class="d-grid">
              <button type="submit" class="btn btn-dark">Iniciar Sesión </button>
            </div>

            <!---Si el usuario no tiene cuenta o perdio su contraseña-->
            
            <div class="my-3 register-pass">
              <span class="cuenta">No tienes cuenta? <a class="registrarte" href="" > Registrate</a></span> <br>
              <span><a class= "recupero" href=""> Recuperar Contraseña</a></span>

            </div>
          </form>

        <!---LOGIN CON REDES SOCIALES-->
          <div class="container w-100 my-5">
            <div class="row text-center">
              <div class="col-12">Iniciar Sesión con</div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-outline-primary w-100 my-1">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <img src="images/facebook-logo.png" width="32" alt="">
                    </div>
                    <div class="col-10 text-center">
                      Facebook 
                    </div>
                  </div>
                </button>
              </div>
              <div class="col">
                <button class="btn btn-outline-danger w-100 my-1">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <img src="images/google-logo.png" width="23" alt="">
                    </div>
                    <div class="col-10 text-center">
                      Google
                    </div>
                  </div>
                </button>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  
    <script src="bootstrap.bundle.min.js"></script>

  <footer>
    <!------------Redes sociales y logo------------>
    <div class="redes">
      <img src="/img/logo-X-Supply.jpg" alt="logo" />
      <h2>Seguinos en nuestras redes></h2>
      <div class="iconos-redes">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
    </div>
    <!------------Navegador del footer------------>
    <div class="footer-nav">
      <ul>
        <a href="">
          <li>Medios de pago</li>
        </a>
        <a href="">
          <li>Contacto</li>
        </a>
        <a href="">
          <li>Términos y condicones</li>
        </a>
        <a href="">
          <li>Políticas de privacidad</li>
        </a>
        <a href="">
          <li>Botón de arrepentimiento</li>
        </a>
      </ul>
    </div>
    <!------------Suscripción al newsletter------------>
    <div class="suscripcion">
      <label for="email">Recibí nuestras ofertas</label>
      <input type="email" id="email" required />
      <input type="button" value="Quiero suscribirme" />
    </div>
    <!------------Data fiscal AFIP------------>
    <div class="data-fiscal">
      <i class="fa-solid fa-qrcode"></i>
    </div>
    <!------------Autor------------>
    <div class="autor">
      <h5>Desarrollado por Next Gen Web Developers</h5>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>