<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>X-SUPPLY</title>
</head>

<body>
    <body>
        <div class= "bloque_registro">
        <div class= "registro">
        <form action="Register.html" method="POST">
            <h5>Nombre de usuario</h5>
            <p>
              <label></label>
              <input type="text" name="usuario" required>
            </p>   

         <br>

            <h5>Nombre Completo</h5>
            <p>
            <label></label>
            <input type="text" name="nombre" required>
          </p>

          <br>

          <h5>E-mail</h5>    
          <p>
            <label></label>
            <input type="email" name="email" required>
          </p>

          <br>

          <h5>Direccion</h5>
          <p>
            <label></label>
            <input type="Direccion" name="direccion" required>
          </p>

          <br>

          <h5>Telefono</h5>
          <p>
            <label></label>
            <input type="PhoneNumber" name="PhoneNumber" required>
          </p>

          <br>

          <h5>Contraseña</h5>    
          <p>
            <label></label>
            <input type="password" name="password" required>
          </p>

          <br>

          <h5>Repetir contraseña</h5>
          <p>
            <label></label>
            <input type="password" name="password" required>
          </p>

          <br>

          <p>
            <input type="checkbox" name="terminos">
            <label for="terminos">Acepto los términos y condiciones</label>
           
          </p>
          <p>
            <input type="checkbox" name="envien">
            <label for="envien">Acepto los términos.</label>
            
          </p>
    
          <p>
          <button type="submit">Registrar</button>
          <button type="reset">Cancelar</button>
          </p>
        </div>
        <img src="img/Boseto-suplemento.jpg" alt="suplementos" class="product_img">
        </form>
    </div>
</body>

</html>