:root {
    --Dark-blue: #1d1e2c;
    --Light-gray: #8d99ae;
    --White: #ffffff;
    --Light-red: #ef233c;
    --Red: #d90429;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    transition: .3s linear;
}

body {
    font-family: 'Montserrat', sans-serif;


    

}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


button {
    all: unset
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    background: var(--Red);
    color: #fff;
    padding: 0.6rem 2.5rem 0.7rem 2.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 600;
    ;
}



/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 0.4rem 1% 0.4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    opacity: 0.95;
}




header .navbar a {
    font-size: 1.8rem;
    padding: 0 .9rem;
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    font-weight: 600;

}


.nav-link:hover {
    color: var(--Light-red);
    transition: 0.3s ease-in;
    border-bottom: 2px solid var(--Red);

}

header .icons a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    position: relative;
    top: -1px;
}

header .icons a:hover {
    color: var(--Red);
}

.register-link {
    font-size: 1.6rem !important;
    padding-left: 15px;
    border-radius: 5px;
    background: var(--Red);
    color: #fff !important;
    padding: 0.5rem 1.0rem 0.5rem 1.0rem;
    cursor: pointer;
    position: relative;
    top: -4px;
    margin-left: 5px;

}

.register-link:hover {
    transition: .2s ease;
    background-color: rgb(255, 88, 88);
}




header .icons i {
    font-size: 2.2rem;
    color: rgb(41, 41, 41);
    margin-right: 1.5rem;
    margin-top: 2%;
    position: relative;
    top: 0.2rem
}



header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    border-radius: .5rem;

    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/images/foto7.png);
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);

}



.home .home-text {
    max-width: 45rem;

}

.home .home-text h3 {
    font-size: 6rem;
    color: var(--Red);
    font-family: 'Versa';
}

.home .home-text span {
    font-size: 3.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;
    font-weight: 600;
}

.home .home-text a{
    margin-top: 2%;
}




.btn:hover {
    transition: .2s ease;
    background-color: rgb(255, 88, 88);

}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;

    height: 100%;
    object-fit: cover;
}

.about .row .img-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 6rem;
    color: var(--Red);
    font-family: 'versa';
}

.about .row .content p {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/* LOGIN  */

.container {
    display: flex;
    background-color: #fdfdfd;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    width: 95%;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);



}

.container img {
    display: flex;
    width: 100%;
    object-fit: cover;
    align-items: center;
    opacity: .9;
    height: 50vh;

}

.login {
    display: flex;
    text-align: center;
    margin: 1% 0;
    justify-content: center;
    margin-bottom: 1%;
    padding: 0 3%;
}

.saludo {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 5%;
    padding-bottom: 5%;
}

.datos label {
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.datos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10%;
    padding-bottom: 2%;
}

.datos input {
    padding: 1rem 10rem 1rem 1rem;
    font-size: 14px;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    margin-bottom: 5%;
}





.cuenta {
    font-size: 1.4rem;

}

.registrarte {
    text-decoration: none;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 600;

}

.recupero {
    font-size: 1.3rem;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    padding-left: 46%;
}
.redes{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.redes a{
    
    text-decoration: none;
    padding: 1% 1%;
    font-family: "montserrat";
    font-size: 1.5rem;
    margin-top: 2%;
    text-align: center;
}

.redes i{
    margin-right: 5%;
    font-size: 2rem;
}



.redes .google{
    border: 1px solid var(--Red);
    color: white;
    background-color: var(--Red);
    border-radius: 5px;
    padding: 2%;
    padding-right: 9%;

}

.redes .facebook{
    border: 1px solid #3b5998;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 10%;
}

.sesion label{
    font-size: 1.5rem;
    padding-right: 50%;
    margin-top: 5%;
}

.sesion input{
    margin-top: 10%;
    position: relative;
    top: 3px
}


/* registro*/
.bloque_registro {
    display: flex;
    background-color: #fdfdfd;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 17%;
    margin-bottom: 30%;
    width: 95%;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);



}

.bloque_registro img{
    display: flex;
    width: 100%;
    object-fit: cover;
    align-items: center;
    opacity: .9;
    height: 50vh;
}

.registro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;

}



.registro form{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.registro input{
    padding: 1rem 10rem 1rem 1rem;
    font-size: 14px;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    margin-bottom: 5%;
}

.terminos input{
position: relative;
top: 2px;

}
.terminos label{
    font-size: 1.2rem;
    padding-left: 3%;

}

.registro button{
    margin-bottom: 5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
}


/* CARDS  */

.offers {
    text-align: center;
    margin-bottom: 2%;
    font-size: 3rem;
    margin-top: 2%;
}

.card {
    position: relative;
    width: 260px;
    height: 380px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    margin-bottom: 5%;
}

.section-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--Red);
    transform: skewY(345deg);
    transition: .8s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
    background-color: var(--Red);

}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

}

.card .contentBox h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    position: relative;
    top: 1px;
    opacity: 1;
    padding: 10px 30px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    background: var(--Red);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 1.2rem;
}

.card .contentBox .buy:hover {
    background-color: rgb(255, 88, 88);
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.product-img {
    height: 250px;
    width: auto;
}

/* ProductCart  */

.productos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

article {
    background-color: #fdfdfd;
    display: flex;
    margin: auto;
    margin-bottom: 10%;
    ;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    width: 90%;
    padding: 5% 2%;
    
}


.productos img {
    width: 15%;
    height: 15%;
}

.precio {
    font-size: 24px;
    color: var(--Red);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10%;


}

.descuento {
    font-size: 24px;
    color: rgb(255, 88, 88);
    font-weight: 700;
    letter-spacing: 1px;

}

.cart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 3%;
    font-size: 1.2rem;
    
    
}

.cant-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 15%;
    font-size: 1.2rem;
    margin-bottom: 3%;
    border-left: 1px solid rgb(216, 216, 216);
    padding-left: 10%;
    
}

.cart-titulo {
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2rem;
}

.cabezal-producto {
    margin-bottom: 7%;
    font-size: 1.5rem;
}

.cabezal-cantidad {
    font-size: 1.5rem;
    padding-bottom: 7%;
    text-align: center;
}

.cantidades {
    display: flex;
    border: 1px solid rgb(202, 202, 202);
    justify-content: center;
    padding: 4%;



}

.cantidades p {
    margin: 0% 12%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 25%;
}

.cantidades i {
    font-size: 1.5rem;
    margin-top: .2rem;

}

.cantidades p i {
    border: 3px solid red;
}

.delete {
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
    color: var(--Red);
}

.cart-total{
    background-color: #fdfdfd;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    width: 45%;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    padding: 5.3% 2%;
    flex-direction: column;
    margin-bottom: 10%;
    
}

.cart-total p{
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
    border-bottom: 1px rgb(199, 199, 199) solid;
    padding-bottom: 10%;
    color: rgb(51, 51, 51);

}

.cart-total span{
    text-align: center;
    margin-left: 25%;
    font-weight: 600;
    font-size: 2.3rem;
}

.cart-total button{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 20%;
}

/* ProductDetail  */

.img-detail {
    display: flex;
    background-color: #fdfdfd;
    flex-direction: column;
    margin-top: 25%;

    width: 100%;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
}

.img-detail img {
    width: 100%;
    height: auto;

}
.img-detail img:hover {
    transform: scale(1.1)

}


.detail {
    background-color: #fdfdfd;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    width: 100%;
    padding: 1% 1%;
    padding-bottom: 2%;
    margin-top: 3%;
    
}

.detail button {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    padding: 2% 4%;
}

.detail-title {
    margin-left: 2%;
}

.detail p {
    font-size: 1.7rem;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 3%;
}

.detail h3 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.detail-title h6 {
    font-size: 1.5rem;
    padding-bottom: 3%;
    border-bottom: rgb(194, 194, 194) solid 1px;
    border-width: 50%;
    color: #757575;
}

.price {
    font-size: 2.6rem;
    margin-left: 2%;
    font-weight: 600;
    color: var(--Light-red);
}

.cantidad {
    display: flex;
}

.cantidad p {
    font-size: 1.6rem;
    margin-right: 5%;
    margin-bottom: 5%;
}

#cantidad {

    width: 14%;
    height: 40px;
    border: black 2px solid;
    border-radius: 3px;
    margin-top: 2%;
    text-align: center !important;
    position: relative;
    top: .3rem
}


.descripcion {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.52);
    margin: auto;
    padding: 4% 4%;
    margin-top: 3%;
}

.descripcion h3 {
    font-size: 2.5rem;
    margin-bottom: 1%;
}

.descripcion span {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #525252;
    padding-top: 3%;

}

.descripcion p {
    font-size: 1.4rem;
    border-bottom: rgb(224, 224, 224) 1px solid;
    padding-bottom: 4%;
    margin-top: 1%
}






/* media queries  */


@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding-left: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .cart-titulo{
        margin-top: 15%;
    }

}



@media (min-width:768px) {
    .container {
        display: flex;
        flex-direction: row;
        margin: 10% 10% 10% 10%;
        width: 80%;
    }

    .login {
        margin: auto;
    }

    .container img {
        width: 50%;
        height: 70vh;
    }

    .bloque_registro {
        display: flex;
        flex-direction: row;
        margin: 10% 10% 10% 10%;
        width: 80%;

    }

    .registro {
        margin: auto;
    }

    .product_img {
        width: 50%;
        height: 70vh;
    }

    article {
        display: flex;
        flex-direction: row;
        width: 60%;

    }

    section {
        padding: 0 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .productDetail {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: 6%;
        margin-top: 10%;

    }

    
    .detail {
        height: 40%;
        width: 50%;
        margin-left: 1%;
        margin-top: 0;
        
    
    }

    .img-detail {
        margin-top: 0%;
        width: 40%;
        
        
    }

    .productDetail img {
        margin: auto;    
        width: 70%;
        height: 45vh;
        object-fit: contain;
        
    }

    .descripcion{
        width: 70%;
        margin: 0 10%;
        margin-top: 3%;
        margin-bottom: 3%;
        justify-content: center;
        
    }

    .card .contentBox .buy{
        opacity: 0;
    }
    .recupero{
        font-size: 1.3rem;
    }
    .bloque_registro img{
        width: 50%;
        height: 70vh;

    }

    .registro button{
        margin-left: 2%;
        margin-right: 2%;
    }

    .productos{
        display: flex;
        flex-direction: row;
    }

    .cart-total{
        width: 25%;
    }
}

@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }

    .cart-titulo{
        margin-top: 20%;
    }



}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .logo {
        width: 15rem;
    }

}

@media (max-width:380px) {
    .logo {
        width: 12rem;
    }


}

@media (min-width:1300px){
    
    #cantidad{
        position: relative;
        top: 9px;
    }
}