<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./partials/header') %>
  </header>

  <main>
    <!------------Carousel------------>
      <section class="home">
    
        <div class="home-text">
          <h3>TODOS LOS SUPLEMENTOS</h3>
          <span> Conocé nuestros productos! </span>
          <br>
          <a href="#" class="btn">COMPRAR <i class="fas fa-arrow-right"></i></a>
        </div>
    
      </section>
    
    
      <h3 class="offers">ULTIMAS OFERTAS</h3>
      <div class="section-cards">
    
        
        <div class="card">
    
          <div class="imgBox">
            <img src="images/prote.png" alt="" class="product-img">
          </div>
    
          <div class="contentBox">
            <h3>Proteina WHEY</h3>
            <h2 class="price">$2000</h2>
            <a href="#" class="buy">COMPRAR</a>
          </div>
    
    
        </div>
    
        <div class="card">
    
          <div class="imgBox">
            <img src="images/prote.png" alt="" class="product-img">
          </div>
    
          <div class="contentBox">
            <h3>Proteina WHEY</h3>
            <h2 class="price">$2000</h2>
            <a href="#" class="buy">COMPRAR</a>
          </div>
    
    
        </div>
    
        <div class="card">
    
          <div class="imgBox">
            <img src="images/prote.png" alt="" class="product-img">
          </div>
    
          <div class="contentBox">
            <h3>Proteina WHEY</h3>
            <h2 class="price">$2000</h2>
            <a href="#" class="buy">COMPRAR</a>
          </div>
    
    
        </div>
        <div class="card">
    
          <div class="imgBox">
            <img src="images/prote.png" alt="" class="product-img">
          </div>
    
          <div class="contentBox">
            <h3>Proteina WHEY</h3>
            <h2 class="price">$2000</h2>
            <a href="#" class="buy">COMPRAR</a>
          </div>
    
    
        </div>
      </div>
    
    
    <!------------RECETAS------------>
    
      <section class="about" id="about">
    
    
        <div class="row">
    
          <div class="img-container">
            <img src="/images/foto10.png" width="100%"></img>
    
          </div>
    
          <div class="content">
            <h3>RECETAS</h3>
            <p>
              Gran variedad de recetas que te enseñan cómo cocinar alimentos saludables para tus objetivos fitness.</p>
    
            <a href="#" class="btn">CONOCELAS!</a>
          </div>
    
        </div>
    
      </section>
  </main>

<!------------Footer------------>
  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>