<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="http://fonts.cdnfonts.com/css/versa" rel="stylesheet" />

  <title>X-SUPPLY</title>
</head>

<body>
  <header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="index">
      <img class="logo" src="/images/logo1.png" width="150rem" alt="LOGO" />
    </a>




    <nav class="navbar">
      <a class="nav-link" href="index">INICIO</a>
      <a class="nav-link" href="productDetail">PRODUCTOS</a>
      <a class="nav-link" href="">RECETAS</a>
      <a class="nav-link" href="">NOSOTROS</a>

    </nav>

    <div class="icons">
      <a href="productCart">
      <i class="fas fa-shopping-cart"></i></a>
      <a href="login">Login</a>
      <a class="register-link" href="register">Registrarme</a>
    </div>

  </header>

  
    <h3 class="cart-titulo" >MI CARRITO</h3>
  
      <div class="productos">
          <article>
            <img src="/images/prote.png" alt="prote" class="product_imagen">
            <div class="cart-text">
              <p class="cabezal-producto">Producto</p>
              <h3 class="title">True Made Whey Protein Ena Isolate+concentrate 2.05 Lb 930g</h4>
              <p class="precio">$3000</p>
              
            </div>
            <div class="cant-text">
              <p class="cabezal-cantidad">Cantidad</p>
              
              <div class="cantidades">
              <i class="fas fa-minus"></i>
              <p>1</p>
              <i class="fas fa-plus"></i>
              
            </div>
            <p class="delete">Quitar</p>
            
            </div>
          </article>

          <div class="cart-total">
            <p>Total: <span>$3000</span></p>
            <br><br>
            <button class="btn">COMPRAR</button>
          </div>
          
        </div>
  
  
 





        <footer>
          <div class="main-footer">
            <!------------Redes sociales y logo------------>
            <div class="redes">
              <a href="index">
                <img src="/images/logo1.png" alt="logo"/>
              </a>
              <h2>Seguinos en nuestras redes</h2>
              <div class="iconos-redes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
              </div>
            </div>
            <!------------Navegador del footer------------>
            <div class="footer-nav">
              <ul>
                <a href="">
                  <li>Medios de pago</li>
                </a>
                <a href="">
                  <li>Contacto</li>
                </a>
                <a href="">
                  <li>Términos y condicones</li>
                </a>
                <a href="">
                  <li>Políticas de privacidad</li>
                </a>
                <a href="">
                  <li>Botón de arrepentimiento</li>
                </a>
              </ul>
            </div>
            <!------------Suscripción al newsletter------------>
            <div class="suscripcion">
              <label for="email">Recibí nuestras ofertas</label>
              <input type="email" id="email" required placeholder="Ingresá tu email aquí"/>
              <button type="submit" class="btn">Quiero suscribirme</button>
      
            </div>
          </div>
          <!------------Autor------------>
          <div class="autor">
            <h5>Desarrollado por Grupo 2</h5>
          </div>
      </footer>

</body>

</html>