<!------------Header------------>  
<header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="index">
      <img class="logo" src="/images/logo1.png" width="150rem" alt="LOGO" />
    </a>

    <nav class="navbar">
      <a class="nav-link" href="index">INICIO</a>
      <a class="nav-link" href="products">PRODUCTOS</a>
      <a class="nav-link" href="">RECETAS</a>
      <a class="nav-link" href="">NOSOTROS</a>
    </nav>

    <div class="icons">
      <a href="productCart">
      <i class="fas fa-shopping-cart"></i></a>
      <a href="login">Login</a>
      <a class="register-link" href="register">Registrarme</a>
    </div>

</header>