<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <!------------LOGIN------------>
    <div class="container">
      <img src="/images/foto1.jpg" alt="">
    
      <!---Saludo Inicial-->
      <!---Datos para el inicio de sesión-->
      <div class="login">
      <form action="/users/login" method="POST" enctype="multipart/form-data" >
        <h2 class="saludo">INGRESAR</h2>
        <div class="datos">
          <label for="email" class="email"></label>
        <input type="email" name="email" placeholder="E-Mail">
        <% if (locals.errors && errors.email) { %>
          <div class="feedback">
            <%= errors.email.msg %> 
          </div>
         
        <% } %>
     
         
        
          <label for="password" class="password"></label>
        <input type="password" name="password" placeholder="Contraseña">
        
        <span><a class= "recupero" href=""> Recuperar Contraseña</a></span>
        <!---Boton de INICIAR SESION-->
        <div class="sesion">
          <input type="checkbox" name="recordar-sesion">
          <label for="recordar-sesion">Recordar Sesion</label>
        </div>
          <button type="submit" class="btn" >Iniciar Sesión </button>
        </div>
        <!---Si el usuario no tiene cuenta o perdio su contraseña-->
          <span class="cuenta">No tienes cuenta?<a class="registrarte" href="" > Registrate</a></span> <br>
          <br><br>
          <div class="redes">
            <a href="" class="google"><i class="fab fa-google"></i>Conectarse con Google</a>
            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></i>Conectarse con Facebook</a>
          </div>
          <br>
      </form>
      </div>
    </div>
</main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

</body>
</html>