<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <!------------LOGIN------------>
    <div class="container">
      <img src="/images/foto1.jpg" alt="">
    
      <!---Saludo Inicial-->
      <!---Datos para el inicio de sesión-->
      <div class="login">
      <form action="/users/login" method="POST" id="loginForm" enctype="multipart/form-data" >
        <h2 class="saludo">INGRESAR</h2>
        <ul class="errores"></ul>
        <div class="datos">
          <label for="email" class="email"></label>
        <input type="email" name="email" id="loginEmail" placeholder="E-Mail">
        <% if (locals.errors && errors.email) { %>
          <div class="feedback">
            <%= errors.email.msg %> 
          </div>
         
        <% } %>
     
         
        
          <label for="password" class="password"></label>
        <input type="password" name="password" id="loginPassword" placeholder="Contraseña">
        
        <span><a class= "recupero" href=""> Recuperar Contraseña</a></span>
        <!---Boton de INICIAR SESION-->
        <div class="sesion">
          <input type="checkbox" name="recordar-sesion">
          <label for="recordar-sesion">Recordar Sesion</label>
        </div>
          <button type="submit" class="btn" >Iniciar Sesión </button>
        </div>
        <!---Si el usuario no tiene cuenta o perdio su contraseña-->
          <span class="cuenta">No tienes cuenta?<a class="registrarte" href="" > Registrate</a></span> <br>
          <br><br>
          <div class="redes">
            <a href="" class="google"><i class="fab fa-google"></i>Conectarse con Google</a>
            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></i>Conectarse con Facebook</a>
          </div>
          <br>
      </form>
      </div>
    </div>
</main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

<script>
  window.onload = function () {
  
  let email = document.querySelector("#loginEmail");
  let form = document.querySelector("#loginForm");
  let password = document.querySelector("#loginPassword");
  

  pass.focus();

  form.addEventListener("submit", function (e) {
    const reg =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    let errors = [];


    if (reg.test(email.value) === false && email.value !== "") {
      errors.push("El email no es valido");
      email.classList.add("is-invalid");
    }
    if (email.value == "") {
      errors.push("El campo email es obligatorio");
      email.classList.add("is-invalid");
    } else {
      email.classList.remove("is-invalid");
      email.classList.add("is-valid");
      email.focus();
    }

    if (password.value == "") {
      errors.push("El campo contraseña es obligatorio");
      name.classList.add("is-invalid");
    } else {
      password.classList.remove("is-invalid");
      password.classList.add("is-valid");
    }

    

    if (errors.length > 0) {
      e.preventDefault();
      alert("errores")
      let errores = document.querySelector(".errores");
      errores.classList.add("alert-warning");
      errores.innerHTML = "";

      for (let i = 0; i < errors.length; i++) {
        let li = document.createElement("li");
        li.innerHTML = errors[i];
        errores.appendChild(li);
      }
    } else {
      e.preventDefault()
      alert("Usuario registrado");
    }
  });
};
</script>
</body>
</html>