<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <div class= "bloque_registro">
      <img src="/images/foto9.jpg" alt="suplementos" class="product_img">
      <div class= "registro">
        <form action="/users/register" method="POST" enctype="multipart/form-data">

          <label> Imagen de Perfil</label>
          <input type="file" name="imagenUsuario"/>

        <label for="userName"></label>
        <input type="text"  name="user-name" placeholder="Nombre de Usuario"/> 

      

        <label for="name"></label>
        <input type="text"  name="name" placeholder="Nombre Completo"/> 

    

        <label for="email"></label>
        <input type="email"  name="email" placeholder="E-Mail"/>

        

        <label for="direccion"></label>
        <input type="text"  name="address" placeholder="Dirección"/>

        

        <label for="telefono"></label>
        <input type="number"  name="celular" placeholder="Telefono"/>

        

        <label for="contraseña"></label>
        <input type="password"  name="password" placeholder="Contraseña"/>
        

        <label for="rep-contraseña"></label>
        <input type="password"  name="rep-contraseña" placeholder="Repetir Contraseña"/>

        

        <div class="terminos">
          <input type="checkbox" name="terminos"/>
          <label for="terminos">Acepto los términos y condiciones</label>
        </div>
        
        <p>
        <button type="submit" class="btn">Registrar</button>
        <button type="reset" class="btn">Cancelar</button>
        </p>
        
      </form>
    </div>
    </div>
  </main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

</body>
</html>