<!DOCTYPE html>
<html lang="en">
    <head>
        <!------------Head------------>
        <%- include('./../partials/head') %>
        </head>
        
<body>
    <header>
            <!------------Header------------>
            <%- include('./../partials/header') %>
          </header>
          <h1> Bienvenido a tu cuenta de Usuario</h1>
          





          <!------------Footer------------>
<footer>
    <%- include('./../partials/footer') %>
  </footer>
  
</body>
</html>