<!DOCTYPE html>
<html lang="en">
    <head>
        <!------------Head------------>
        <%- include('./../partials/head') %>
        </head>
        
<body>
    <header>
            <!------------Header------------>
            <%- include('./../partials/header')%>
          </header> 
          
          <div class="containerUser" style="margin-top: 40px;">
            <div class="row"> 
              <div class=" col-md-3">
          
          <h1> Bienvenido a tu cuenta  </h1>

          <img src="/public/images/Usuarios/user-1655247693610.jpg" >
          <br>
          <br>
          
          <div class="alert alert-succes">
          
          </div>
          


            </div>
         </div>
      </div>
    </form>
          <!------------Footer------------>
<footer>
    <%- include('./../partials/footer') %>
  </footer>
  
</body>
</html>